{
  "extends": ["react-app", "standard"],
  "rules": {
    "no-extra-semi": "error",
    "semi": ["error", "always"],
    "no-unused-vars": "warn",
    "generator-star-spacing": ["error", {"before": false, "after": true}]
  }
}
